//- ToolBar
#main-head.container-fluid
#main-content.row
	#section-left.col-xs-3 #section-left.col-xs-3
	#section-center.col-xs-6 #section-center.col-xs-6
	#section-rigth.col-xs-3 #section-rigth.col-xs-3
#main-footer.container-fluid #main-footer.container-fluid