.container
  .row
    .col-xs-8
      .panel.panel-info
        .panel-title
          .row
            .col-xs-6
              h5 Receipt
                span.glyphicon.glyphicons-notes
        .panel-body
          .row
            .col-xs-2
              img-responsive(src="http://placehold.it/100x70")
            .col-xs-4
              h4
                strong Product name
              h4
                small Product description
            .col-xs-6
              .col-xs-6.text-right
                h6
                  strong 25.00
                    span.text-muted x
                .col-xs-4
                  h6
                    1
                .col-xs-2
          .row
            .col-xs-2
              img-responsive(src="http://placehold.it/100x70")
            .col-xs-4
              h4
                strong Product name
              h4
                small Product description
            .col-xs-6
              .col-xs-6.text-right
                h6
                  strong 75.00
                    span.text-muted x
                .col-xs-4
                  h6
                    1
                .col-xs-2
        .panel-footer
            .row.text-center
              .col-xs-9
                h4.text-right Total
                  strong $100.00
